.navbar {
  background-color: #fff;
  border-style:dashed;
  height: 80px;
  &-brand {
    height: 65px;
    width: 210px;
    background-size: 220px;
  }
  &-mainLogo {
    background-repeat: no-repeat;
    background-image: url("/images/logo.jpg");
    margin-top:20px;
  }
  &-nav {
    & >li {
      margin-left: 20px;
      .commonNavIcon {
        height: 24px;
        width: 24px;
        background-size: 22px;
        background-repeat: no-repeat;
        background-image: url("/images/parts3.png");
      }
    }
  }
}



