.post-profile-icon {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

.card-wrap {
  margin: 40px 0px;
}


.delete-post-icon {
  background-image: url("/images/parts9.png");
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background-size: 40px;
  color: #262626;
  font-size: 20px;
}

.loved {
  background-repeat: no-repeat;
  height: 36px;
  width: 36px;
  background-size: 36px;
}

button{
  border: none;
  background-color:white;
  outline: none;
}

.comment {
  margin-left: 8px;
  background-image: url("/images/parts6.png");
  background-repeat: no-repeat;
  height: 36px;
  width: 36px;
  background-size: 40px;
}

.delete-comment {
  background-image: url("/images/parts8.png");
  background-repeat: no-repeat;
  width: 11px;
  height: 11px;
  float: right;
  margin: 5px 0 0 10px;
  background-size: 11px;
}
