.post-profile-icon {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

.card-wrap {
  margin: 40px 0px;
}


.delete-post-icon {
  background-image: url("/images/parts9.png");
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background-size: 40px;
  color: #262626;
  font-size: 20px;
}