.navbar {
  background-color: #fff;
  border-style: dashed;
  height: 80px;
}
.navbar-brand {
  height: 65px;
  width: 210px;
  background-size: 220px;
}
.navbar-mainLogo {
  background-repeat: no-repeat;
  background-image: url("/images/logo.jpg");
  margin-top: 20px;
}
.navbar-nav > li {
  margin-left: 20px;
}
.navbar-nav > li .commonNavIcon {
  height: 24px;
  width: 24px;
  background-size: 22px;
  background-repeat: no-repeat;
  background-image: url("/images/parts3.png");
}
body {
  font-size: 14px;
  color: #262626;
}
.devise-card {
  border: none;
}
.logo-img {
  background-image: url("/images/logo.jpg");
  background-repeat: no-repeat;
  height: 80px;
  width: 395px;
  background-size: 400px;
  margin-top: 50px;
}
.devise-link {
  text-align: center;
  margin: 16px 0;
}
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.profile-wrap {
  margin: 40px 0px;
}
.round-img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}
.edit-profile-btn {
  margin: 15px 0 0 15px;
  font-weight: bold;
  height: 26px;
  line-height: 26px;
  padding: 0 26px;
  border-color: #dbdbdb;
  font-size: 14px;
}
.profile-form-wrap {
  background: #fff;
  padding: 20px;
  border: 1px solid #e6e6e6;
}
.profile-form-wrap label {
  font-weight: bold;
}
.edit-profile-wrapper {
  margin-top: 60px;
}
.post-profile-icon {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-right: 10px;
}
.card-wrap {
  margin: 40px 0px;
}
